# ASP.NET CORE

trigger:
- develop

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  
steps:
- task: UseDotNet@2
  displayName: 'Install .NET Core SDK'
  inputs:
    version: 3.1.x
    performMultiLevelLookup: true
    includePreviewVersions: true # Required for preview versions
    
- task: DotNetCoreCLI@2
  inputs:
    command: restore
    projects: '**/*.csproj'
    

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)' # Update this to match your need
    

# ...
# do this after other tasks such as building
- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'ls "D:\a\1\a"'
    
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Visual Studio Enterprise Subscription'
    appName: 'Car-app'
    package: D:\a\1\a\*.zip  
