@using RazorClassLibraryForEmails.Views.Emails.CancelJourney
@model CancelJourneyViewModel

@{
    ViewData["EmailTitle"] = "Important Information!";
}

<br />
<p>
    We have to inform you that driver: @Model.DriverName has cancelled the journey at @Model.TimeOfCancellation
</p>

<br />

@if (Model.Attachments != null)
{
    <img src=cid:imgpath height=100 width=100 alt="Image" />
}


